<p>Dear {{ user.full_name }},</p>
<p>Someone has asked to reset the password for your account.
  If you did not request a password reset, you can disregard this email.
  No changes have been made to your account.</p>
<p>To reset your password, follow <a href="{{ callback_url }}">this link</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ callback_url }}</p>
<p>Sincerely,</p>
<p>The PetFind App Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
