{% extends "admin/master.html" %}

{% block body %}
<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="mt-3 alert alert-{{ category }} alert-dismisible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="{{ url_for('tag_blueprint.import_tags') }}" enctype="multipart/form-data" method="POST">
  <input type="file" name="csv-file" value="">
  <input class="btn btn-success" type="submit" value="Import">
</form>

<form action="{{ url_for('tag_blueprint.generate_tags') }}" enctype="multipart/form-data" method="POST">
  <label>
    Generate tags (#):
    <input type="number" name="tag_num">
  </label>
  <input class="btn btn-success" type="submit" value="Generate">
</form>
{% endblock body %}